language: python
env:
  - CODECOV_TOKEN='ebb71bca-6d5e-4c8c-bcc9-91a23b75b79e'
python:
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.9-dev"  # 3.9 development branch
  - "nightly"  # nightly build
# command to install dependencies
install:
  - pip3 install -r requirements.txt
  
# command to run tests
script:
  - python ./UnitTests/database_connection_test.py
  - python ./UnitTests/database_crud_test.py
  - python ./UnitTests/database_tables_test.py
