{% extends "layout/base.html" %} {% block content %}

<div class="container-fluid">
    <div class="row content">
        <!-- Left Sidebar -->
        <div class="col-sm-3 sidenav sidenav-left">

            {% include 'layout/user_details.html' %}

        </div>

        <!-- Content -->
        <div class="col-sm-9 text-left main-content">

            <div>
                <a type="button" class="btn btn-outline-dark" href="/" style="margin-left: 20px;">Back to Home</a>
            </div>

            <div class="card status-card col-md" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title" style="float: left;">Task Name</h5>
                    <button style="float: right;" class="btn btn-outline-danger">Delete Task</button>
                </div>
                <div class="form-group">
                    <label for="taskName">Task Name</label>
                    <input type="text" name="taskname" class="form-control" id="taskName" placeholder="Do Dishes" required="required">
                </div>
                <div class="form-group">
                    <label for="Category" required="required">Category</label>
                    <!-- This should be populated form the database -->
                    <select class="form-control" aria-label="Default select example">
                                <option value="Development">Development</option>
                                <option value="Refactoring">Refactoring</option>
                                <option value="Enhancement">Enhancement</option>
                                <option value="UI/UX">UI/UX</option>
                                <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Status" required="required">Status</label>
                    <!-- This should be populated form the database -->
                    <select class="form-control" aria-label="Default select example">
                                <option value="DONE">Done</option>
                                <option value="IN_PROGRESS">In Progress</option>
                                <option value="STUCK">Stuck</option>
                                <option value="WAITING">Waiting</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input class="form-control" name="starting_date" type="date" value="2021-11-01" id="example-date-input">
                </div>
                <div class="form-group">
                    <label for="dueDate">Due Date</label>
                    <input class="form-control" name="due_date" type="date" value="2021-11-01" id="example-date-input">
                </div>
                <div class="form-group">
                    <label for="hours">Hours</label>
                    <input type="number" name="hours" class="form-control" id="hours" placeholder="Number of Hours">
                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <input type="text" name="Description" class="form-control" id="Description" placeholder="Add Description here">
                </div>
                <div class="card-body">
                    <button style="float: right;" class="btn btn-outline-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}