{% extends "layout/base.html" %} {% block content %}

<div class="container-fluid">
    <div class="row content">

        <!-- Left Sidebar -->
        <div class="col-sm-3 sidenav sidenav-left">

            {% include 'layout/user_details.html' %}

        </div>

        <!-- Content -->
        <div class="col-sm-9 text-left main-content">
            <div>
                <a type="button" class="btn btn-outline-dark" href="#" class="card-link" data-toggle="modal" data-target="#exampleModalCenter" style="margin-left: 20px;">Add New Task</a>
                <a type="button" class="btn btn-outline-primary" style="float: right; margin-right: 20px;" href="#" class="card-link">View All Tasks</a>

            </div>

            <center>

                <!-- This week tasks -->
                {% include 'tasks/this_week.html' %}

                <!-- Backlog -->
                {% include 'tasks/backlog.html' %}

                <!-- Next Week Tasks -->
                {% include 'tasks/next_week.html' %}

            </center>

            <!-- Modal for new Task -->
            <div class="modal fade new-application-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">New Task</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="text-align: left;">
                            <div class="form-group">
                                <label for="taskName">Task Name</label>
                                <input type="text" name="taskname" class="form-control" id="taskName" placeholder="Do Dishes" required="required">
                            </div>
                            <div class="form-group">
                                <label for="Category" required="required">Category</label>
                                <!-- This should be populated form the database -->
                                <select class="form-control" aria-label="Default select example">
                                    <option value="Development">Development</option>
                                    <option value="Refactoring">Refactoring</option>
                                    <option value="Enhancement">Enhancement</option>
                                    <option value="UI/UX">UI/UX</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="startDate">Start Date</label>
                                <input class="form-control" name="starting_date" type="date" value="2021-11-01" id="example-date-input">
                            </div>
                            <div class="form-group">
                                <label for="dueDate">Due Date</label>
                                <input class="form-control" name="due_date" type="date" value="2021-11-01" id="example-date-input">
                            </div>
                            <div class="form-group">
                                <label for="hours">Hours</label>
                                <input type="number" name="hours" class="form-control" id="hours" placeholder="Number of Hours">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}