{% extends "layout/base.html" %} {% block content %}

<div class="container-fluid">
    <div class="row content">

        <!-- Left Sidebar -->
        <div class="col-sm-3 sidenav sidenav-left">

            {% include 'layout/user_details.html' %}

        </div>
        <div class="col-sm-9 text-left main-content">
        <div>
            <a type="button" class="btn btn-outline-dark" href="/" style="margin-left: 20px;">Back to Home</a>
        </div>
        <!-- Content -->
        <div class="">
            <center>

                <!-- View all tasks -->
                <!-- {% include 'employees/all_employees.html' %} -->
                <div class="card status-card col-md" style="width: auto;">
                    <i class="material-icons card-icons">project</i>
                    <div class="card-body">
                        <h5 class="card-title">Task Assignment</h5>
                    </div>
                    <table data-toggle="table" data-flat="true" data-search="true">
                        <thead>
                            <tr style="background-color: #D5D8DD; text-align: center;">
                                <th>Task Name</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Employee Name</th>
                                <th>Title</th>
                                <th>Skill</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in all_tasks %}
                            <tr style="text-align: center;">
                                <td>{{ item.2 }}</td>
                                <td>{{ item.8 }}</td>
                                <td>{{ item.10 }}</td>
                                <td>{{ item.14 }}</td>
                                <td>{{ item.18 }}</td>
                                <td>{{ item.16 }}</td>
                {#                <td style="text-align: center;"><a href="/edit_project"><i class="material-icons">edit</i></a></td>#}
                            </tr>
                            {% endfor %}
                
                        </tbody>
                    </table>
                </div>

            </center>
            <div class="modal fade new-application-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">New Employee</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/employee" method="post">
                            <div class="modal-body" style="text-align: left;">
                                <div class="form-group">
                                    <label for="taskName">Employee Id</label>
                                    <input type="text" name="EmployeeID" class="form-control" id="employeeId" placeholder="Do Dishes" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="taskName">Name</label>
                                    <input type="text" name="Name" class="form-control" id="name" placeholder="Do Dishes" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="taskName">Age</label>
                                    <input type="text" name="Age" class="form-control" id="age" placeholder="Do Dishes" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="taskName">Skill</label>
                                    <input type="text" name="Skill" class="form-control" id="skill" placeholder="Do Dishes" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="taskName">Telephone</label>
                                    <input type="text" name="Telephone" class="form-control" id="telephone" placeholder="Do Dishes" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="taskName">Title</label>
                                    <input type="text" name="Title" class="form-control" id="title" placeholder="Do Dishes" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="Task" required="required">Task to Enroll</label>
                                    <!-- This should be populated form the database -->
                                    <select class="form-control" name="Task" aria-label="Default select example">
                                        {% for item in backlog_tasks %}
                                            <option value="{{ item.0 }}">{{ item.2 }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock content %}