<center>
    <img class="rounded-circle" alt="100x100" src="https://ih1.redbubble.net/image.1703296696.9941/st,small,507x507-pad,600x600,f8f8f8.jpg" height="250px" width="250px" data-holder-rendered="true">

    <br><br>

    <div class="card" style="width: 18rem; text-align: left;">
        <div class="card-body">
            <h5 class="card-title">Jessica Holds</h5>
            <div class="row">
                <div class="col">
                    <b>Gender</b>
                </div>
                <div class="col">
                    Female
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <b>Location</b>
                </div>
                <div class="col">
                    Raleigh, NC
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-outline-primary">Change Preferences</button>
    <br><br>

</center>