<div class="card status-card col-md" style="width: auto;">
    <i class="material-icons card-icons">task</i>
    <div class="card-body">
        <h5 class="card-title">All Tasks</h5>
    </div>
    <table data-toggle="table" data-flat="true" data-search="true">
        <thead>
            <tr style="background-color: #D5D8DD; text-align: center;">
                <th>Task</th>
                <th data-sortable="true">Status</th>
                <th>Category</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Finalize Kickoff Materials</td>
                <td style="background-color: lightgreen;">Done</td>
                <td>Development</td>
                <td>18th October, 2021</td>
                <td>18th October, 2021</td>
                <td style="text-align: center;"><a href="/edit_task"><i class="material-icons">edit</i></a></td>
            </tr>

            <tr>
                <td>Refine Objectives</td>
                <td style="background-color: lightblue;">In Progress</td>
                <td>Development</td>
                <td>18th October, 2021</td>
                <td>18th October, 2021</td>
                <td style="text-align: center;"><a href=""><i class="material-icons">edit</i></a></td>
            </tr>

            <tr>
                <td>Identify Key Sources</td>
                <td style="background-color: lightcoral;">Stuck</td>
                <td>Refactoring</td>
                <td>18th October, 2021</td>
                <td>18th October, 2021</td>
                <td style="text-align: center;"><a href=""><i class="material-icons">edit</i></a></td>
            </tr>

            <tr>
                <td>Develop Communication Plan</td>
                <td style="background-color: lightyellow;">Waiting</td>
                <td>Development</td>
                <td>18th October, 2021</td>
                <td>18th October, 2021</td>
                <td style="text-align: center;"><a href=""><i class="material-icons">edit</i></a></td>
            </tr>

            <tr>
                <td>Finalize Kickoff Materials</td>
                <td style="background-color: lightgreen;">Done</td>
                <td>Development</td>
                <td>18th October, 2021</td>
                <td>18th October, 2021</td>
                <td style="text-align: center;"><a href="/edit_task"><i class="material-icons">edit</i></a></td>
            </tr>

            <tr>
                <td>Refine Objectives</td>
                <td style="background-color: lightblue;">In Progress</td>
                <td>Development</td>
                <td>18th October, 2021</td>
                <td>18th October, 2021</td>
                <td style="text-align: center;"><a href=""><i class="material-icons">edit</i></a></td>
            </tr>

            <tr>
                <td>Identify Key Sources</td>
                <td style="background-color: lightcoral;">Stuck</td>
                <td>Refactoring</td>
                <td>18th October, 2021</td>
                <td>18th October, 2021</td>
                <td style="text-align: center;"><a href=""><i class="material-icons">edit</i></a></td>
            </tr>

            <tr>
                <td>Develop Communication Plan</td>
                <td style="background-color: lightyellow;">Waiting</td>
                <td>Development</td>
                <td>18th October, 2021</td>
                <td>18th October, 2021</td>
                <td style="text-align: center;"><a href=""><i class="material-icons">edit</i></a></td>
            </tr>

        </tbody>
    </table>
</div>